body{
    transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
}

.large-font {
    font-size: 22px;
}

.invert-colors{
    background-color: #000000;
    color: #ffffff;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav, navbar-toggler {
    margin-right: 10px;
}
.navbar-collapse {
    display: flex;
    align-items: center;
}
.separador {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.relleno {
    text-align: justify;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.footer {
    background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
            position: flex;
            left: 0;
            bottom: 0;
            width: 100%;
}